
body {
  background-color: #e9ebee;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 800px;
}

.modal-body img {

  max-width: 100%;

}

.link {

  text-decoration: none;
  color: rgb(46, 25, 139);

}
