body{
   background-color: #babdbd;              
   font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
   font-size: 16px;
   margin: 0 auto;
   max-width: 800px;                   
}



#error{
   background-color: rgb(255, 105, 180);
   padding: 5px;
   border: 1px black;
   
}
#resultat{

   background-color: rgb(60, 196, 112);
   padding: 5px;
   border: 1px black;
 
}
#boutton{
   color:#fff; background-color:green;
}

 



#grove
{
border-style: groove;
background-color : rgb(255, 255, 255);

padding : 5px  ;


}


 
.display{
   display: block!important;
}
label
{
  width:100px;
  display:inline-block;
  

}


form{

  display: block;
  margin-top:0em;
 

}
